.DS_Store
.AppleDouble
.LSOverride

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

build/
DerivedData/

*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate

xcuserdata/
*.xcuserdatad/
*.xcworkspace/xcuserdata/

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

.build/

# Exported App for distribution
Export
